* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    height: 100vh;
    background: linear-gradient(
        to bottom,
        #2987e4 50%,
        #000000 50%
    );
}

.clock {
    background: #000000;
    height: 320px;
    width: 320px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    box-sizing: content-box;
    border-radius: 50%;
    border: 5px solid rgb(55, 56, 55);
}

img {
    position: relative;
}

.hand {
    position: absolute;
    background-color: white;
    margin: auto;
    left: 0;
    right: 0;
    border-radius: 5px;
    transform-origin: bottom;


}

.hour {
    height: 80px;
    width: 10px;
    top: 80px;
}

.minute {
    height: 100px;
    width: 5px;
    top: 60px;
    background-color: #bd04eb;
}

.second {
    height: 120px;
    width: 3px;
    top: 40px;
    background-color: #2987e4;
}

.digital {
    text-align: center;
    margin-top: 150px;
}

.box-time {
    height: 40px;
    width: 160px;
    box-sizing: border-box;
    background-color: #000000;
    text-align: center;
    color: #fff;
    margin-left: 1000px;
}

.box-day {
    height: 40px;
    width: 150px;
    box-sizing: border-box;
    background-color: #000000;
    text-align: center;
    color: #fff;
    margin-right: 200px;
    margin-left: 600px;
}
.digita h1 {
    text-align: center;
}

